.titled-pane{
	-fx-text-fill: white ;
}
.titled-pane>*.content{
	-fx-background-color: rgb(226,238,196);
}
.titled-pane > .title{
	-fx-background-color: rgb(194,218,105);
}
.label{
	-fx-text-fill: rgb(102,153,102) ;
	-fx-font-size:13;
}
#creditLabel.label{
	-fx-font-size:40;
}