#exitButton.button{
	-fx-background-color:rgb(242,242,242);
	-fx-background-image: url(../../../../resources/exit_system.png);
	-fx-background-size: 30,20;
	-fx-background-position: center;
	-fx-opacity: 0.2;
}
#exitButton.button:hover{
	-fx-opacity:1;
}