.root{
	-fx-background-color: rgb(93,93,93);
}

.label{
	-fx-text-fill: white;
}
.button{
	-fx-background-color: rgb(93,93,93) ;
	-fx-border-color: white;
	-fx-border-width: 2.0;
	-fx-text-fill: white;
}
.button:hover{
	-fx-text-alignment: center ;
	-fx-background-color: lightgray;
}

