.root{
	-fx-background-color:radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 30.0%, radius 40.0%, rgb(242,242,242) 0.0, rgb(93,93,93) 100.0 )
}

.button{
	-fx-background-color: rgb(93,93,93);
	-fx-border-color: white;
	-fx-border-width: 2.0;
	-fx-text-fill: white;
}
.button:hover{
	-fx-alignment: center;
	-fx-background-color: lightgray;
}

